In [19]:
import requests_cache
import requests
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
from pandas.tools.plotting import scatter_matrix
import numpy as np
import seaborn as sns
from requests_oauthlib import OAuth1Session
import glob
import json
import os
import urllib2
from urllib2 import Request, urlopen

In [20]:
requests_cache.install_cache("cache")

def geonames_search(geonameid):
    base = 'http://api.geonames.org/childrenJSON'
    username = 'stephanielamm'
    
    params = ({"geonameId": geonameid, "username":username})
    
    response = base + "?" + "&".join("{}={}".format(a,b) for a,b in params.items())

    collreq = Request(response)
    collf = urllib2.urlopen(collreq)
    college_json = json.loads(collf.read())

    urllist = [i for i in college_json.values()]
        
    return urllist

In [43]:
def get_city_name(us_state):
    us_id = 6252001
    country = geonames_search('%d' %us_id)
    
    for i in range(0, len(country[1])):
        if country[1][i]['name'] == us_state:
            geonameid = country[1][i]['geonameId']
            states = geonames_search('%d' %geonameid)
    
    id_list = []
    #from state, extract the id of all county
    for i in range(0, len(states[1])):
        idnum = states[1][i]['geonameId']
        id_list.append(idnum)

    #extract all county info in CA
    city_list = []
    for i in range(0, len(id_list)):
        region = geonames_search('%d' %id_list[i])
        city_list.append(region)
        
    #from county, extract cities/town with more tan 10000 population, lat, and lng 
    citynames = []
    lat_list = []
    lng_list = []
    for i in range(0, len(city_list)):
        for j in range(0,len(city_list[i][1])):
            if city_list[i][1][j]['fcl'] == 'P' and city_list[i][1][j]['population'] > 10000:
                names = city_list[i][1][j]['name']
                lat = city_list[i][1][j]['lat']
                lng = city_list[i][1][j]['lng']
                citynames.append(names)
                lat_list.append(lat)
                lng_list.append(lng)

    citynames = pd.DataFrame(citynames)
    lat_list = pd.DataFrame(lat_list)
    lng_list = pd.DataFrame(lng_list)
    df = pd.concat([citynames, lat_list, lng_list], axis = 1)
    df.columns = ['City', 'Latitude', 'Longitude']

    return df

In [44]:
city_df = get_city_name("California")

In [45]:
city_df

                City  Latitude   Longitude
0            Alameda  37.76521  -122.24164
1             Albany  37.88687  -122.29775
2            Ashland  37.69465  -122.11385
3           Berkeley  37.87159  -122.27275
4      Castro Valley   37.6941  -122.08635
5         Cherryland  37.67938   -122.1033
6             Dublin  37.70215  -121.93579
7         Emeryville  37.83132  -122.28525
8           Fairview  37.67854   -122.0458
9            Fremont  37.54827  -121.98857
10           Hayward  37.66882   -122.0808
11         Livermore  37.68187  -121.76801
12            Newark  37.52966  -122.04024
13           Oakland  37.80437   -122.2708
14          Piedmont  37.82437  -122.23163
15        Pleasanton  37.66243  -121.87468
16       San Leandro  37.72493  -122.15608
17       San Lorenzo  37.68104  -122.12441
18        Union City  37.59577  -122.01913
19             Chico  39.72849  -121.83748
20           Magalia  39.81211  -121.57831
21          Oroville  39.51394  -121.55776
22          Paradise  39.75961  -121.62192
23             Alamo   37.8502  -122.03218
24           Antioch  38.00492  -121.80579
25         Bay Point  38.02909  -121.96163
26         Brentwood  37.93187  -121.69579
27           Clayton  37.94103  -121.93579
28           Concord  37.97798  -122.03107
29          Danville  37.82159  -121.99996
..               ...       ...         ...
469        Riverbank  37.73604  -120.93549
470           Salida  37.70576  -121.08494
471          Turlock  37.49466  -120.84659
472  South Yuba City  39.11656  -121.63913
473        Yuba City  39.14045  -121.61691
474        Red Bluff  40.17849  -122.23583
475           Dinuba  36.54328  -119.38707
476           Exeter  36.29606  -119.14205
477     Farmersville  36.29773  -119.20678
478          Lindsay  36.20301  -119.08816
479      Porterville  36.06523  -119.01677
480           Tulare  36.20773  -119.34734
481          Visalia  36.33023  -119.29206
482        Camarillo  34.21639   -119.0376
483         Fillmore  34.39916  -118.91815
484         Moorpark  34.28556  -118.88204
485         Oak Park  34.17917  -118.76287
486           Oxnard   34.1975  -119.17705
487    Oxnard Shores  34.19084   -119.2415
488     Port Hueneme  34.14778  -119.19511
489      Santa Paula  34.35417  -119.05927
490      Simi Valley  34.26945  -118.78148
491    Thousand Oaks  34.17056  -118.83759
492          Ventura  34.27834  -119.29317
493            Davis  38.54491  -121.74052
494  West Sacramento  38.58046  -121.53023
495         Woodland  38.67852   -121.7733
496            Linda  39.12767   -121.5508
497       Marysville  39.14573  -121.59135
498       Olivehurst  39.09545  -121.55219

[499 rows x 3 columns]

In [46]:
requests_cache.install_cache("cache")

def yelp_search(term, location):
    """
    makes a search request
    
    Argument: search term, location
    
    Return: search result items as a list (for 0 items, return an empty list)
    """
    consumer_key = "uFKYftN0fu4pD6guW2cYng"
    consumer_secret = "iUYQ2Hk3-vTQVd0zOFnvloWPivA"
    token = "FZnep4FiFmwrrifuNm6M-_K661Wb3J02"
    token_secret = "CRvBo_fO-r4pE_-p2UrnN_mxBlc"
   
    urlbase = "http://api.yelp.com/v2/search"
    params = ({"term": term})
    params.update({"location": location, "sort": "1", "cll" : "latitude,longitude"})
    session = OAuth1Session(consumer_key, consumer_secret,token,token_secret)
     
    request = session.get(urlbase,params=params)
   
    #Transforms JSON API response into dictionary
    data = request.json()
    session.close()
    #data_dict = data["businesses"]
    
    return data

In [ ]:
data_list = []
for i in range(0, len(city_df['City'])):
    data = yelp_search("food", "%s" %city_df['City'][i])
    data_list.append(data)

In [ ]:
data_list

In [ ]:
data = yelp_search("food", "Sacramento")
data

In [ ]:
pd.DataFrame(data['businesses'])

In [ ]:
path = "/Users/Stephanie/Desktop/yelp_dataset_challenge_round9"
files = glob.glob(os.path.join(path,"*.json"))
files

In [ ]:
############# Copy from online(not sure if it works or not yet) ##########

#Convert Yelp Academic Dataset from JSON to CSV
import csv
def convert(line):
    ''' Convert a json string to a flat python dictionary
    which can be passed into Pandas. '''
    data = json.loads(line)
    for k, v in data.items():
        if isinstance(v, list):
            data[k] = ','.join(v)
        elif isinstance(v, dict):
            for kk, vv in v.items():
                data['%s_%s' % (k, kk)] = vv
            del data[k]
    return line


csv_filename = 'review.csv'
df = pd.DataFrame([convert(line) for line in file(files[2])])
df.to_csv(csv_filename, index=False)

In [ ]:
def readfile(files):
    # read the file into a python array
    with open(files, 'rb') as f:
        data = f.readlines()
        # remove the trailing "\n" from each line
        data = map(lambda x: x.rstrip(), data)
        data_str = "[" + ','.join(data) + "]"
        df = pd.read_json(data_str)
        
        f.close()
        return df
     
def fixdf(newlist):
    new_df = pd.concat(newlist, axis = 0)
    return new_df

yelplist = []

In [ ]:
review_data = readfile(files[2])

In [ ]:
review_data.head()